<!DOCTYPE html>
{% extends 'myPortfolio/base.html' %} {% block title %} Contact | Portfolio
{%endblock%} {% block body_block %}
<div class="container">
  <div class="formLayout">
    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        {{guest_form.firstname.label_tag}} {{guest_form.firstname}}
      </div>
      <div class="input-group">
        {{guest_form.lastname.label_tag}} {{guest_form.lastname}}
      </div>
      <div class="input-group">
        {{guest_form.email.label_tag}} {{guest_form.email}}
      </div>
      <div class="input-group">
        {{guest_form.dropdown.label_tag}} {{guest_form.dropdown}}
      </div>
      <div class="input-group">
        {{guest_form.content.label_tag}} {{guest_form.content}}
      </div>
      <input type="submit" class="sub-btn" value="Get In Touch" />
    </form>
  </div>
</div>
{% endblock %}
