
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar a {
  color: white !important;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  color: #000000 !important;
}
.home-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.about-main{
  height: 100vh;
}
.formLayout {
  background: rgb(13, 110, 253);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  width: 350px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 80px auto;
}

/* Input field group */
.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  color: #ffffff;
  font-size: 14px;
}

/* Input field styles */
.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 22px;
  margin-top: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #000000;
  font-size: 15px;
  transition: 0.3s;
}

.form-input:focus {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px #fff;
}

/* Submit button */
.sub-btn {
  padding: 10px;
  border: none;
  background: #fff;
  color: #000000;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}

.sub-btn:hover {
  background: rgb(13, 110, 253);
  color: #fff;
  border: 1px solid black;
}
.form-text-input {
  height: 100px;
}
.drop-text {
  color: #000000;
}
::placeholder {
  color: #000000 !important;
}

.about-main {
  margin-top: 10px !important;
}

.pp-size {
  max-width: 300px;
}

.modal-body a:hover {
  transform: translateY(-2.5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.footer {
  width: 100%;
  background-color:  rgb(13, 110, 253);
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  /* margin-top: 40px; */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-container {
  max-width: 900px;
  margin: auto;
}
.main-project-area{
  width: 80%;
  margin: 200px auto;
  padding: 40px;
  background-color: rgba(13, 109, 253, 0.291);
  border-radius: 20px;
}
.main-project-area a{
  text-decoration: none;
  color: #000000;
}
.main-project-area a img:hover{
  border: solid rgba(255, 255, 255, 0.757);
  box-shadow: 0 0 5px #fff;
  transition: 0.15s;
  transform: translateY(-10px);
}
.main-project-area p{
  color: #000000;
  text-align: center;
  user-select: none;
}
.main-project-area a img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}